<!DOCTYPE html>
<html>

<head>
    <title>Confetti Cuisine</title>
    <link rel="stylesheet" href="/css/confetti_cuisine.css">
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/confettiCuisine.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <div id="nav">
        <div class="col-sm nav-align">
            <h1>Confetti Cuisine</h1>
        </div>
        <div class="col-sm nav-align">
            <a href="/"><span class="button">Home</span></a>
            <a href="/courses"><span class="button">Courses</span></a>
            <a href="/subscribers"><span class="button">Contact</span></a>
            <a href="/users"><span class="button">Users</span></a>
            <%- include('courses/_coursesModal') %>
        </div>
    </div>

    <div class="login">
        <% if (loggedIn) { %>
            <p>Logged in as <a href="<%=`/users/${currentUser._id}`%>">
                <%= currentUser.fullName; %>
            </a>
            <a href="/users/logout">Log out</a>
            </p>
            <% } else { %>
                <a href="/users/login">Log in</a>
        <% } %>
    </div>

<div class="flashes">
    <% if(flashMessages) { %>
        <% if(flashMessages.success) { %>
            <div class="flash success">
                <%= flashMessages.success %>
            </div>
        <% } else if(flashMessages.error) { %>
            <div class="flash error">
                <%= flashMessages.error %>
            </div>
       <% } %>

    <% } %>

</div>

    <div class="container">
        <%- body%>
    </div>
</body>
</html>